.side-bar
  .side-bar__user
    .side-bar__user__name.left.bold
      = @name
    .user-actions.right
      %a.user-actions__action.edit
        %i.fa.fa-pencil-square-o
      %a.user-actions__action.setting
        %i.fa.fa-cog
  %ul.side-bar__groups